html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Exo 2', sans-serif;
	background-color: white;
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
}

/* across all pages */
.my_link {
	color: white;
	font-weight: bold;
}

#column1 {
	width: 50%;
	height: auto;
	margin-left: 5%;
	margin-top: 5%;
	font-size: 32px;
	position: relative;
	vertical-align: top;
	display: inline-block;
}

#column2 {
	width: 30%;
	height: auto;
	margin-left: 5%;
	margin-top: 5%;
	position: relative;
	display: inline-block;
}

#column2 img {
	width: 100%;
	height: 100%;

}

/*
#fig_1:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_2:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_3:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_4:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_5:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}
*/

ul.topnav {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: black;
}

ul.topnav li {
    float: left;
    text-align: center;
    color: white;
}

ul.topnav li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display:none;}

/* About page */

#about_page {
	background: white;
	width: 100%;
	height: 100%;
	display: inline-block;
	transition: background-color 1s ease-out;
}

/*Image carousel containers and video overlays*/
#carousel_page{
	background: white;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: inline-block;
	transition: background-color 1s ease-out;
}

.carousel_container {
	margin: 0 auto; 
	margin-top: 10%;
	margin-left: 20%;
	width: 41.67vw;
	height: 41.67vh;
	position: relative;
	perspective: 4000px;
	display: inline-block;
}

#carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1.0s ease-out;
}

#carousel figure {
	margin: 0;
	display: block;
	position: absolute;
	width: 33.33vw;
	height: 33.33vh;
	left: 30px;
	top: 30px;
	transition: transform 1.0s ease, scale 1.0s ease;
}

.carousel_image {
  	width: 100%;
  	height: 100%;
	position: absolute;
}

.overlay {
    position: absolute; 
    width: 100%;
    height: 100%;
	opacity: 0;
	transition: all 0.5s ease-out;

}

/*Buttons to move through the carousel*/

.button_container {
	position: relative;
	margin-left: 20%;
	text-align: left;
}

.my_button {
	color: white;
	font-size: 24px;
	margin: 10px;
	position: relative;
	display: inline-block;
}

/*Side bar with titles of projects / descriptions*/

.sidebar {
	opacity: 0;
	box-shadow: 10px;
	border-width: 2px;
	border-color: white;
	border-top-style: solid;
	border-bottom-style: solid;

	padding-left: 5px;
	padding-top: 5px;

	margin-left: 10%;
	
	width: 25%;
	height: 80%;
	position: absolute;
	display: inline-block;

	transition: opacity 0.5s linear;
}

#item_title {
	color: white;
	text-align: center;
	font-size: 32px;
	opacity: 1;
	transition: opacity 0.5s linear;
}

#item_description {
	color: white;
	text-align: left;
	font-size: 28px;
	opacity: 1;
	transition: opacity 0.5s linear;
}

