html {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Exo 2', sans-serif;
	background-color: white;
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
}

/* across all pages */
.my_link {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#column1 {
	width: 50vw;
	height: auto;
	margin-left: 5vw;
	margin-top: 5vw;
	font-size: 3vh;
	position: relative;
	vertical-align: top;
	display: inline-block;
}

#column2 {
	width: 30vw;
	height: auto;
	margin-left: 5vw;
	margin-top: 5vw;
	position: relative;
	display: inline-block;
}

#column2 img {
	width: 100%;
	height: 100%;

}

/*
#fig_1:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_2:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_3:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_4:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_5:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}
*/

ul.topnav {
    list-style-type:none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: black;
}

ul.topnav li {
    float: left;
    text-align: center;
    color: white;
}

ul.topnav li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 1vw 1vh;
    text-decoration: none;
    transition: 0.3s;
    font-size: 2.2vh;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display:none;}

/* About page */

#about_page {
	background: white;
	width: 100vw;
	height: 100vh;
	display: inline-block;
	transition: background-color 1s ease-out;
}

/*Image carousel containers and video overlays*/
#carousel_page{
	background: white;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: inline-block;
	transition: background-color 1s ease-out;
}

.carousel_container {
	margin: 0 auto; 
	margin-top: 10%;
	margin-left: 20%;
	width: 41.67vw;
	height: 41.67vh;
	position: relative;
	perspective: 4000px;
	display: inline-block;
}

#carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1.0s ease-out;
}

#carousel figure {
	margin: 0;
	display: block;
	position: absolute;
	width: 33.33vw;
	height: 33.33vh;
	left: 1.5vw;
	top: 2.8vh;
	transition: transform 1.0s ease, scale 1.0s ease;
}

.carousel_image {
  	width: 100%;
  	height: 100%;
	position: absolute;

}

.overlay {
    position: absolute; 
    width: 100%;
    height: 100%;
	opacity: 0;
	transition: all 0.5s ease-out;

}

/*Buttons to move through the carousel*/

.button_container {
	position: relative;
	margin-left: 17vw;
	margin-top: 10vh;
	text-align: left;
}

.my_button:hover {transform: scale(1.1, 1.1); cursor: pointer;}

.my_button {
	color: white;
	font-size: 2.4vh;
	margin: 1vw;
	position: relative;
	display: inline-block;
}

/*Side bar with titles of projects / descriptions*/

.sidebar {
	opacity: 0;
	box-shadow: .5vw;
	
	border-width: .025vw;
	border-color: white;
	border-top-style: solid;
	border-bottom-style: solid;

	padding-left: .25vw;
	padding-top: 0;

	margin-left: 15vw;
	
	width: 20vw;
	height: 50vh;
	position: absolute;
	display: inline-block;

	transition: opacity 0.5s linear;
}

#item_title {
	color: white;
	text-align: center;
	font-size: 3vh;
	opacity: 1;
	transition: opacity 0.5s linear;
}

#item_description {
	color: white;
	text-align: left;
	font-size: 2.4vh;
	opacity: 1;
	transition: opacity 0.5s linear;
}

