body {
	font-family: 'Exo 2', sans-serif;
	background-color: white;
	overflow: hidden;
}

/*
#fig_1:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_2:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_3:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_4:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_5:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}
*/

ul.topnav {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

ul.topnav li {
    float: left;
    text-align: center;
    color: white;
}

ul.topnav li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}

ul.topnav li.icon {display:none;}

/*Image carousel containers and video overlays*/
#carousel_page{
	background: blue;
	position: relative;
	width: 100%;
	height: 100%;
	margin-top:10%;
	display: inline-block;
}

.container {
	background:red;
	margin: 0 auto; 
	margin-top: 150px;
	width: 600px;
	height: 400px;
	position: relative;
	perspective: 3000px;
	display: inline-block;
}

#carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1.0s ease-out;
}

#carousel figure {
	margin: 0;
	display: block;
	position: absolute;
	width: 450px;
	height: 300px;
	left: 30px;
	top: 30px;
	transition: transform 1.0s ease, scale 1.0s ease;
}

.carousel_image {
  	width: 100%;
  	height: 100%;
	position: absolute;
}

.overlay {
	width: 450px;
	height: 300px;
	position: absolute;
	opacity: 0;
	transition: all 0.5s ease-out;
}

/*Buttons to move through the carousel*/

.my_button {
	color: black;
	font-size: 24px;
	margin: 10px;
	left: 20%;
	position: relative;
	display: inline-block;
}

/*Side bar with titles of projects / descriptions*/

.sidebar {
	opacity: 0;
	background: green;
	box-shadow: 10px;
	border-width: 2px;
	border-color: white;
	border-top-style: solid;
	border-bottom-style: solid;

	padding-left: 5px;
	padding-top: 5px;
	margin: 0 auto;
	margin-top: 5%;
	margin-left: 10%;
	width: 500px;
	height: 80%;
	position: absolute;
	display: inline-block;

	transition: opacity 1s linear;
}

#item_title {
	color: black;
	text-align: center;
	font-size: 32px;
}

#item_description {
	color: black;
	text-align: left;
	font-size: 28px;
}

