#carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
}

#carousel figure {
	margin: 0;
	display: block;
	position: absolute;
	width: 186px;
	height: 116px;
	left: 10px;
	top: 10px;
	border: 2px solid black;
	transition: transform 1.0s linear, scale 1.0s linear;
}





.carousel_image {
	width: 100%;
	height: 100%;
	position: relative;
}

.main_container{
	position: relative;
	width: 50%;
	height: 50%;
}

.container {
	background: green;
	width: 210px;
	height: 140px;
	top: 50px;
	left: 250px;
	position: relative;
	perspective: 1000px;
}

