body {
	font-family: 'Exo 2', sans-serif;
	background-color: black;
	overflow: hidden;
}

#carousel {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1.0s ease-out;
}

#carousel figure {
	margin: 0;
	display: block;
	position: absolute;
	width: 450px;
	height: 300px;
	left: 30px;
	top: 30px;
	border: 2px solid black;
	transition: transform 1.0s ease, scale 1.0s ease;
}

.carousel_image {
	width: 100%;
	height: 100%;
	position: absolute;
}

#carousel figure:nth-child(1) { transform: rotateZ(   60deg ); }

#fig_1:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_2:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_3:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_4:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

#fig_5:hover .overlay {
	opacity: 1;
	transform: scale(1.25, 1.25);
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	box-shadow: 10px;
	border-radius: 5px;
	transition: all 0.5s ease-out;
}

.main_container{
	background: red;
	position: relative;
	width: 50%;
	height: 50%;
	margin-top:10%;
	margin-left:10%;
	display: inline-block;
}

.container {
	margin: 0 auto; 
	background: blue;
	width: 600px;
	height: 400px;
	position: relative;
	perspective: 3000px;
}

.sidebar {
	margin: 0 auto;
	font-size: 32px;
	color: white;
	width: 50%;
	height: 100%;
	left: 500;
	text-align: center;
	position: absolute;
	display: inline-block
}

.my_button {
	font-size: 24px;
	color: white;
	margin: 10px;
	left: 20%;
	position: relative;
	display: inline-block;
}
